{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <h1>Reservation index</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>DateStart</th>
                    <th>DateEnd</th>
                    <th>User</th>
                    <th>Room</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.DateStart ? reservation.DateStart|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.DateEnd ? reservation.DateEnd|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.user }}</td>
                    <td>{{ reservation.room }}</td>
                    <td>
                        <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                        <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('reservation_new') }}">Create new</a>
    {% elseif is_granted("ROLE_USER") %}
        <h1>Your reservations</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>DateStart</th>
                    <th>DateEnd</th>
                    <th>User</th>
                    <th>Room</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    <td>{{ reservation.DateStart ? reservation.DateStart|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.DateEnd ? reservation.DateEnd|date('Y-m-d') : '' }}</td>
                    <td>{{ reservation.user }}</td>
                    <td>{{ reservation.room }}</td>
                    <td>
                        <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                        <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('reservation_new') }}">Create new</a>
    {% else %}
        <p>Please log in</p>
    {% endif %}
{% endblock %}
