{% extends 'base.html.twig' %}

{% block title %}Today's checkins and checkouts{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
        <h1>Today's checkins and checkouts</h1>
        <p>Today is: <b>{{ date() ? date()|date('Y-m-d') : '' }}</b></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>DateStart</th>
                    <th>DateEnd</th>
                    <th>User</th>
                    <th>Room</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    {% if (reservation.DateStart ? reservation.DateStart|date('Y-m-d') : '') == (date() ? date()|date('Y-m-d') : '') %}
                        <td><b>{{ reservation.DateStart ? reservation.DateStart|date('Y-m-d') : '' }}</b></td>
                    {% else %}
                        <td>{{ reservation.DateStart ? reservation.DateStart|date('Y-m-d') : '' }}</td>
                    {% endif %}
                    {% if (reservation.DateEnd ? reservation.DateEnd|date('Y-m-d') : '') == (date() ? date()|date('Y-m-d') : '') %}
                        <td><b>{{ reservation.DateEnd ? reservation.DateEnd|date('Y-m-d') : '' }}</b></td>
                    {% else %}
                        <td>{{ reservation.DateEnd ? reservation.DateEnd|date('Y-m-d') : '' }}</td>
                    {% endif %}
                    <td>{{ reservation.user }}</td>
                    <td>{{ reservation.room }}</td>
                    <td>{{ reservation.length }} days</td>
                    <td>&euro; {{ reservation.price }}</td>
                    <td>
                        <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                        <a href="{{ path('reservation_edit', {'id': reservation.id}) }}">edit</a>
                        <a href="{{ path('reservation_factuur', {'id': reservation.id}) }}">factuur</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elseif is_granted("ROLE_USER") %}
        <h1>Your checkins and checkouts of today</h1>
        <p>Today is: <b>{{ date() ? date()|date('Y-m-d') : '' }}</b></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>DateStart</th>
                    <th>DateEnd</th>
                    <th>User</th>
                    <th>Room</th>
                    <th>Length</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.id }}</td>
                    {% if  (reservation.DateStart ? reservation.DateStart|date('Y-m-d') : '') == (date() ? date()|date('Y-m-d') : '') %}
                        <td><b>{{ reservation.DateStart ? reservation.DateStart|date('Y-m-d') : '' }}</b></td>
                    {% else %}
                        <td>{{ reservation.DateStart ? reservation.DateStart|date('Y-m-d') : '' }}</td>
                    {% endif %}
                    {% if (reservation.DateEnd ? reservation.DateEnd|date('Y-m-d') : '') == (date() ? date()|date('Y-m-d') : '') %}
                        <td><b>{{ reservation.DateEnd ? reservation.DateEnd|date('Y-m-d') : '' }}</b></td>
                    {% else %}
                        <td>{{ reservation.DateEnd ? reservation.DateEnd|date('Y-m-d') : '' }}</td>
                    {% endif %}
                    <td>{{ reservation.user }}</td>
                    <td>{{ reservation.room }}</td>
                    <td>{{ reservation.length }} days</td>
                    <td>&euro; {{ reservation.price }}</td>
                    <td>
                        <a href="{{ path('reservation_show', {'id': reservation.id}) }}">show</a>
                        <a href="{{ path('reservation_factuur', {'id': reservation.id}) }}">factuur</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Please log in</p>
    {% endif %}
{% endblock %}
